/*Formatting for Player Color page's table*/

table.playerColorTable {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-color: grey;
  border-spacing: 1px;
  border-radius: .2rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
}
table.playerColorTable td {
  padding: 6px 2px;
}
table.playerColorTable tr:nth-child(even) {
  background: #E8E8E8;
}
table.playerColorTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: rgba(0,0,0,.54);
  text-align: center;
}
table.playerColorTable td {
    vertical-align: middle;
}
table.playerColorTable th {
    padding: 16px 2px;
}
