/*Disable top bar shdow fade-in*/
.md-header {
    box-shadow: 0 0 .2rem rgba(0,0,0,.1),0 .2rem .4rem rgba(0,0,0,.2);
}

/*Increase width/height of icon on top bar*/
.md-header__button.md-logo img,
.md-header__button.md-logo svg {
    width: 42px;
    height: 42px;
}

.md-header__button.md-logo {
    margin: 0 0.2rem 0 0.2rem;
    padding: 0;
}

/* Override scrollbar colors */
[class$=__scrollwrap]:hover,
.md-typeset pre > code:hover {
    scrollbar-color: #bb0c0d transparent;
}

/*background behind current selection in left bar*/
[data-md-color-primary=indigo] .md-nav__link--active, [data-md-color-primary=indigo] .md-nav__link:active {
    color: black;
    background-color: #d3d3d3;
}

/*Coloring of top bar*/
[data-md-color-primary=indigo] .md-header, [data-md-color-primary=indigo] .md-hero {
  background-color: #bb0c0d;
}

/*Header coloring and formatting*/
.md-typeset h1 {
    color: #000000;
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: none;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.md-typeset h2{
    color: #202020;
    font-weight: 500;
    font-size: 1.45rem;
    text-transform: none;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.md-typeset h3 {
    color: #404040;
    font-weight: 500;
    font-size: 1.3rem;
    text-transform: none;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.md-typeset h4 {
    color: #606060;
    font-weight: 400;
    font-size: 1.15rem;
    text-transform: none;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.md-typeset h5 {
    color: #808080;
    font-weight: 300;
    font-size: 1rem;
    text-transform: none;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.md-typeset h6 {
    color: #A0A0A0;
    font-weight: 200;
    font-size: 0.85rem;
    text-transform: none;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*Coloring of permalink icon*/
[data-md-color-accent=indigo] .md-nav__link:focus, [data-md-color-accent=indigo] .md-nav__link:hover, [data-md-color-accent=indigo] .md-typeset .footnote li:hover .footnote-backref:hover, [data-md-color-accent=indigo] .md-typeset .footnote li:target .footnote-backref, [data-md-color-accent=indigo] .md-typeset .md-clipboard:active:before, [data-md-color-accent=indigo] .md-typeset .md-clipboard:hover:before, [data-md-color-accent=indigo] .md-typeset [id] .headerlink:focus, [data-md-color-accent=indigo] .md-typeset [id]:hover .headerlink:hover, [data-md-color-accent=indigo] .md-typeset [id]:target .headerlink {
    color: #8b090a;
}

/*Make edit button red, !important required*/
.md-content__icon {
    color: #bb0c0d !important;
}

/*prevent left/right scrollbar
.md-typeset .admonition, .md-typeset details {
    overflow-x:hidden;
}
disabled due to lack of need currently, but works*/

/*Make lines across pages solid*/
.md-typeset hr {
    border-bottom: .05rem solid rgba(0,0,0,.26);
}

.custom-line {
    border:0;
    height:0;
    border-top:1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

.custom-link {
    color:#f4641d;
    position:relative;
    left:0.625rem;
    top:-0.25rem;
}

code {
    white-space: nowrap;
}
