/*General Icon Formatting, used by all tag type icons*/
.tag {
    font-family: 'Inconsolata', 'Monaco', 'Consolas', 'Courier New', 'Courier';
    font-weight: normal;
    text-align: center;
    font-size: 1rem;
    display: inline;
    padding: 2px 4px;
    border-radius:5px;
    position: relative;
    margin: 0px 1px;
    bottom: 2px;

    word-break: normal;

    width: 50px;
    min_width: 50px;
    line-height: 0;
}
.tag:hover {
    opacity: 0.75;
}

/*General Return Formatting, used by all return type icons*/
.ret {
    font-family: 'Inconsolata', 'Monaco', 'Consolas', 'Courier New', 'Courier';
    /*background-color:rgba(1, 0, 0, 0.2);*/
    font-style: italic;
    text-align: center;
    font-size: 1rem;
    /*padding: 1px 4px;
    box-shadow: 2px 2px #696969;
    border-radius: 6px;*/
    border-radius:5px;
    padding: 2px 4px;
    display: inline-block;

    position: relative;
    bottom: 1px;
    left: 1px;
    vertical-align:middle;

    float: left;
    width: 50px;
    /*Squeezes lines together vertically*/
    line-height: 1;

    word-break: keep-all;
}
.ret:hover {
    opacity: 0.75;
}
.ret:before {
    content: "return\A";
}




/*String*/
.str {
    color: #000000;
    background-color: #ACC39B;
}
.str:after {
    content: "string";
}

/*Table*/
.tab {
    color: #000000;
    background-color: rgba(1, 0, 0, 0.2);
}
.tab:after {
    content: "table";
}

/*Integer*/
.int {
    color: #000000;
    background-color: #D48E87;
}
.int:after {
    content: "int";
}

/*Float*/
.flo {
    color: #000000;
    background-color: #D48E87;
}
.flo:after {
    content: "float";
}

/*Nil*/
.nil {
    color: #ffffff;
    background-color: rgba(1, 0, 0, 0.6);
}
.nil:after {
    content: "nil";
}

/*Bool*/
.boo {
    color: #000000;
    background-color: #BE9FAD;
}
.boo:after {
    content: "bool";
}

/*Object*/
.obj {
    color: #000000;
    background-color: #b1bfe0;
}
.obj:after {
    content: "object";
}

/*Var*/
.var {
    color: #000000;
    background-color: #E0E270;
}
.var:after {
    content: "var";
}

/*Vector*/
.vec {
    color: #000000;
    background-color: #f4d29a;
}
.vec:after {
    content: "vector";
}

/*Color*/
.col {
    color: #000000;
    background-color: #e2bae0;
}
.col:after {
    content: "color";
}

/*Player*/
.pla {
    color: #000000;
    background-color: #b5e1e5;
}
.pla:after {
    content: "player";
}

/*Function*/
.fun {
    color: #FFFFFF;
    background-color: #DE4816;
}
.fun:after {
    content: "func";
}




/*XML stuff*/

/*xmlcolor*/
.xmlco {
    color: #000000;
    background-color: #B87FED;
}
.xmlco:after {
    content: "color";
}

/*xmlcolorblock*/
.xmlcb {
    color: #000000;
    background-color: #ed7feb;
}
.xmlcb:after {
    content: "colorblock";
}
